<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--resultType 指定单条记录返回的类型-->
<mapper namespace="com.book.api.dao.UserDao">
    <select id="queryByAccount" parameterType="string" resultType="com.book.api.model.User">
        select * from tab_user where account = #{id}
    </select>
</mapper>